/* font-family: "Raleway", sans-serif; 500, 700, 900 */

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  /* font-size: 1.125rem; */
}

* {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
}

/* ==========
  TYPOGRAPHY 
  ===========*/
#brand-name {
  font-size: 1.5rem;
  font-weight: 700;
}

/* ==========
    LAYOUT 
  ===========*/
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-right: 1em;
}

.first-list-container {
  background-color: black;
  padding: 0.5em 0;
  color: white;
}

.second-list-container {
  background-color: gray;
  padding: 0.5em 0;
  width: 100%;
  color: white;
}

.links-container {
  padding: 0.5em 0;
  margin-left: 2.5em;
}

.links-container a {
  margin-right: 1em;
}

#search-bar {
  width: 400px;
}

li#sale {
  color: red;
  margin-left: 10em;
  font-weight: 900;
  letter-spacing: 0.125rem;
  font-size: 1.25rem;
}

li img {
  width: 2em;
  filter: invert(100%);
}
